
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    margin: 0;

}

.page1 {
    display: block;
    width: 50%;
    height: 1253px;
    float: left;
}

.background {
    position: absolute;
    z-index: -1;
}

.page1 h1 {
    white-space: nowrap;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #D6D6D6;
    margin-left: 150px;
    
}

.page1 h2 {
    white-space: nowrap;
    font-family: 'Pacifico', cursive;
    font-size: 65px;
    color: #F5CB5C;
    margin-top: 50px;
    margin-left: 150px;
}

nav {
    margin-top:80px;
    margin-left: 150px;
}

nav li {
    list-style-type: none;
    margin-top: 100px;
}

nav a {
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #7C7C7C;
}

.about-me {
    background-color: #202020;
    width: 50%;
    height: 1062px;
    float: right;
}

#about-me-title {
    margin-left:100px;
    margin-top: 75px;
}

p {
    font-family: 'Montserrat', sans-serif;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #F5CB5C;
}

#about-me-p {
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 10%;
    width: 60%;
    margin-left: 200px;
    text-indent: 40px;
}







